

<!DOCTYPE html>
<html>
<head>
<script>
#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}
</script>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="panel">
	<div class="panel-heading">Mi  Tienda</div>
	<div class="container">
		<div class="panel-body">
		<div class="col-md-12" id="forma" style="display;none">
			<form id="formulario" >
				<div class="panel panel-default">
			        <div class="panel-heading">
			            Formulario
			        </div>
			        <div class="panel-body">
		                <div class="form-group col-md-6">
						    <label>Nombre</label>
						    <input type="text" name="nombre" id="nombre" class="form-control input-sm" data-validation="required">
		                </div>
		                <div class="form-group col-md-6">
						    <label>Marca</label>
						    <input type="text" id="marca" name="marca" class="form-control input-sm" data-validation="required">
		                </div><br>
		                <div class="clear"></div>
		                <div class="form-group text-right">
                            <button class="btn btn-default" id="cancelar" type="button">Cancelar</button>
		                    <button class="btn btn-default" id="guardar"  rel=0 type="button">Guardar</button>
		            	</div>
		        	</div><br>
		    	</div>
			</form>
		</div>
		<div class="col-md-12">
			<div class="panel">
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names, marca.." title="Type in a name">
				<table id="table" class="table">
					<thead>
					      <tr>
					        <th>Nombre producto</th>
					        <th>Marca</th>
					        <th>Opción</th>
					      </tr>
				    </thead>
                    <tbody id="tbody">
                    </tbody>    
				</table>
			</div>
		</div>
		</div> 
	</div>
</div>

<script>
var aposc = false;
    
$(document).ready(function() {
	$.ajax({
            method: 'GET',
            url: 'http://localhost:1337/producto/getdata',
            data: {},
            success: function( response ){
                console.log( response );
                
                $.each(response, function(key, value){
                    console.log(value.nombre);
                    var html = '<tr><td>'+value.nombre+'</td><td>'+value.marca+'</td><td>'+value.editar+'</td></tr>';
                    $('#tbody').append(html);
                });
            },
            error: function( e ) {
                console.log(e);
            }
        });
});    
    
$(document).on("click", "#guardar", function(){
	var nombre = $('#nombre').val();
    var marca = $('#marca').val();
    
    if (nombre.length > 0 && marca.length > 0){
        if ($(this).attr('rel') == 0){
            $.ajax({
                method: 'GET',
                url: 'http://localhost:1337/producto/guardar',
                data: {nombre:nombre, marca:marca},
                success: function( response ){
                    console.log( response );
                    var html = '<tr><td>'+response[0].nombre+'</td><td>'+response[0].marca+'</td><td></td></tr>';
                    $('#tbody').append(html);
                },
                error: function( e ) {
                    console.log(e);
                }
            });
        }else{
            $.ajax({
                method: 'GET',
                url: 'http://localhost:1337/producto/editar',
                data: {nombre:nombre, marca:marca, id:$(this).attr('rel')},
                success: function( response ){
                    console.log( response );
                    $('#tbody').html('');
                    $('#nombre').val('');
                    $('#marca').val('');
                    $('#guardar').attr('rel',0);
                    $.ajax({
                        method: 'GET',
                        url: 'http://localhost:1337/producto/getdata',
                        data: {},
                        success: function( response ){
                            console.log( response );

                            $.each(response, function(key, value){
                                console.log(value.nombre);
                                var html = '<tr><td>'+value.nombre+'</td><td>'+value.marca+'</td><td>'+value.editar+'</td></tr>';
                                $('#tbody').append(html);
                            });
                        },
                        error: function( e ) {
                            console.log(e);
                        }
                    });
                },
                error: function( e ) {
                    console.log(e);
                }
            });
        }
    }else{
        alert('Se debe diligenciar el formulario completamente');
    }
        
});
    
//Al dar click en una fila de la tabla se captura su posicion
    $( '#table tbody' ).on( 'click', 'tr', function () {
        aposc = $( this );
    });
    
$(document).on("click", ".editar", function(){
    var data = $(this).attr('rel');
    data = data.split("_");
    $('#nombre').val(data[0]);
    $('#marca').val(data[1]);
    $('#guardar').attr('rel',data[2]);
    
});
    
$(document).on("click", "#cancelar", function(){
    $('#nombre').val('');
    $('#marca').val('');
    $('#guardar').attr('rel',0);
});
 
    
//from w3schoool   
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("table");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    td2= tr[i].getElementsByTagName("td")[1];  //adición 
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }  
    if (td2) {  //adición 
      if (td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    } ///////
  }
}
</script>

</body>
</html>